Flask>=3.1.3
Flask-SQLAlchemy
Flask-Migrate
flask-cors==6.0.1
flask-marshmallow
marshmallow
marshmallow-sqlalchemy
psycopg2-binary==2.9.10
python-dotenv>=1.2.2
requests>=2.33.0
beautifulsoup4==4.14.2
cloudscraper
geopy
numpy==2.2.5
PyJWT>=2.12.0
Flask-Limiter
flask-caching>=2.3.0
redis>=5.0.0
click==8.3.0
SQLAlchemy==2.0.43

# Dev & Testing
pytest>=9.0.3
